.userInfo{
display: flex;
align-items: center;
flex-direction: column;
text-align: center;
margin: 1rem;
border-bottom: 1px solid #a0a0a0;
padding-bottom: 1rem;

}


#bg{
 background-image: url('https://picsum.photos/200');
 height: 200px;
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: flex-end;
 box-shadow: 1px 1px 25px 1px #2e2e2e;
}


#avatar{
  margin-bottom: -2rem;
  width: 100px;
  height: 100px;
  background-color: #F0F2F5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 25px 1px #2e2e2e96;
}

.contenthead{
  margin-top: 2rem;
}


#postTitle{
  text-align: center;
}


.commentHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #99999944;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  h4{
    padding-top:5px ;
  }
}
.cardcontainer{
  margin: 1rem;
}

.noborderplease{
  background-color: #ffffff;
}

.commentIcon{
  position: absolute;
  top: 0;
  right: 0;
}

.commentFooter{
  width: 100%;
display: flex;
justify-content: space-between;

input{
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: #99999944;
  padding: 0.5rem 1rem ;
}
button{
  border-radius: 0 5px 5px 0;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:hover{
    cursor: pointer;
    background-color: #d8d8d8;
  }
}

}

