.insert{
  border: none;
  border-bottom: 2px solid #7a7a7a;
  border-radius: 5px;
  margin-bottom: 1rem;
}
button{
  border: none;
  border-bottom: 2px solid #7a7a7a;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 33%;
}
