

<form >
  <input nz-input placeholder="Post title :)" name="title" [(ngModel)]="currentPost.title" />
  <textarea nz-input placeholder="What's going on?" name="content" [(ngModel)]="currentPost.content" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
  <button nz-button nzType="primary" *ngIf=" formAction == 'create'"  (click)="sendPost()">Share it!</button>
  <button nz-button nzType="primary" *ngIf=" formAction == 'edit'" (click)="editPost()">Edit!</button>
  <input id='uploadImg' type='file' [(ngModel)]="uploadImg" placeholder="add a photo!" />
</form>
