<nz-layout>
  <nz-sider nzCollapsible nzWidth="100px">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <h1 id="textnavbar" [textContent]="logged? 'Hi '+client.name : 'Welcome' " > </h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li [routerLink]="['/']" nz-menu-item>
        <span nz-icon nzType="home"></span>
        <span>Home</span>
      </li>
      <li *ngIf="logged" [routerLink]="['/profile/'+client.id]" nz-menu-item>
        <span nz-icon nzType="user"></span>
        <span>Profilo</span>
      </li>
      <li *ngIf="!logged" [routerLink]="['/login']" nz-menu-item>
        <span nz-icon nzType="login"></span>
        <span>Login</span>
      </li>
      <li *ngIf="!logged" [routerLink]="['/signin']" nz-menu-item>
        <span nz-icon nzType="form"></span>
        <span>Sign-in</span>
      </li>
      <li *ngIf="logged" (click)="logOut()" nz-menu-item>
        <span nz-icon nzType="logout"></span>
        <span>Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>

    <nz-content>


      <router-outlet></router-outlet>


    </nz-content>
    <nz-footer>Super Fantastici ©2020 inc. Build Week</nz-footer>
  </nz-layout>
</nz-layout>


