@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


nz-layout{
 min-height: 100vh;
}

#textnavbar{
  color: white;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.2rem;
}

nz-footer{
  text-align: center;
}



