<form nz-form [formGroup]="form" class="login-form" (submit)="submit()">

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="name" placeholder="Username" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your date of birth!">
      <nz-input-group nzPrefixIcon="user">
        <input type="date" nz-input formControlName="btd" placeholder="Date of birth" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your email!">
      <nz-input-group nzPrefixIcon="mail">
        <input type="email" nz-input formControlName="email" placeholder="Mail" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <button nz-button class="login-form-button login-form-margin" >Sign up!</button>
</form>

